.profile {
    width: 100%;
    height: 100%;
    padding-left: 36px;
    padding-right: 41px;

    .user {
        width: 100%;
        height: 583px;
        background: #ffffff;
        padding: 17px 17px 0;
        position: relative;

        img {
            position: absolute;
            top: 38px;
            right: 105px;
        }

        .name {
            display: flex;
            align-items: center;
            padding-left: 29px;
            height: 135px;
            background: linear-gradient(90deg, #70a9ff 2.85%, #2e6bc7 56.3%, #0149b4 97.46%);
            border-radius: 16px;
            color: #ffffff;
        }
    }
}
